    <h1>Welcome to the Login App</h1>

    <form action="submit">
      <label for="email">User email :</label><br />
      <input type="text" name="email" id="email" /><br />
      <label for="password">Password :</label><br />
      <input type="password" name="password" id="password" /><br /><br />
      <input type="submit" />
    </form>

    <div><button>Login Github</button></div><br />

    <a href="/register"><button>Registrate</button></a>